*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #00000089;
    z-index: 3;
    filter: blur(5px);
    display: none;
}

body{
    scroll-behavior: smooth;
    font-family: /* "Roboto", sans-serif */ cursive;
    background-color: bisque;
    color: rgb(73, 0, 0);
}

header {
    position: sticky;
    top: 0;
    border-radius: 1px solid rgb(77, 75, 75);
    box-shadow: 0.5px 0.5px rgb(77, 75, 75);
    background-color: white;
}

.header-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

.logo img{
    border-radius: 50%;
    width: 65px;
    object-fit: cover;
}

.search{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    border: 1px solid #3f3c3c;
    overflow: hidden;
    width: 40%;
}

label img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.search input{
    border: none;
    outline: none;
    padding: 0.5rem;
}

.cart img{
    width: 60px;
}

.menu{
    display: none;
}

.close-button {
    display: none;
}

main nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

.sidebar div ul a {
    text-decoration: none;
    color: rgb(73, 0, 0);
    font-size: 20px;
}

main nav ul li a:visited{
    /* color: rgb(137, 108, 108) */
}

main nav ul li a:hover{
    color: rgb(188, 84, 84);
}

.section-one {
    background-color: rgb(73, 0, 0);
    color: white;
    align-items: center;
    padding-bottom: 0.5rem 0rem;
}

.section-one h1 {
    color: bisque;
    text-align: center;
}

.section-two{
    margin: 12rem 0rem 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.class-one{
    /* margin-top: 4rem; */
}

.class-one h2, .class-two h2, .class-three h2 {
    margin-bottom: 5px;
}

.class-one p {
    line-height: 30px;
    width: 250px;
    font-size: 22px;
    color: rgb(133, 48, 48);
}

.class-two {
    margin-bottom: 7rem;
}

.class-two div {
    line-height: 45px;
    margin-top: 10px;
    font-size: 22px;
    color: rgb(133, 48, 48);
}

.class-three {
    margin-bottom: 80px;
}

.class-three div {
    line-height: 45px;
    font-size: 22px;
    color: rgb(133, 48, 48);
}


footer{
    background-color: burlywood;
    font: 20px cursive;
}

footer nav{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem 5rem;
}

ol{
    list-style-type: none;
}

footer nav ol li img{
    width: 35px;
    height: 35px;
    background-color: transparent;
    padding: 7px;
    border-radius: 50%;
    transition: all 0.5s;
}

footer nav ol li img:hover{
    background-color: rgb(173, 167, 167);
    scale: 1.2;
}

footer p:first-child {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-p {
    text-align: center;
    margin-top: 2rem;
   /*  margin-bottom: 2rem; */
}

.footer-p p a{
    color: rgb(73, 0, 0);
    text-decoration: none;
}

.footer-p p a:hover{
    color: rgb(188, 84, 84);
}

.footer-p p a:visited{
    color: rgb(73, 0, 0);
}



  
@media only screen and (max-width: 600px) {
  body {
    background-color: bisque;
    font-family: Roboto;
  }
   .search, .cart{
    display: none;
  }

  .overlay.active{
    display: block;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 2rem;
    
  }
    .sidebar div{
        position: fixed;
        right: 0;
        height: 100%;
        background: white;
        padding: 0rem;
        z-index: 4;
        transition: all 0.8s;
        transform: translateX(0);
        top: 0;
        transform: translateX(165px);
        font-family: cursive;
    }

    .sidebar.active div {
        transform: translateX(0px);
    }

  .menu {
    display: block;
  }

  .menu-button {
    background: transparent;
    border: none;
    outline: none;
  }

  .close-button{
    display: block;
    background: transparent;
    border: none;
    outline: none;
  }

  .close-button img {
    height: 30px;
    width: 30px;
  }

  .menu img {
    width: 30px;
    height: 30px;
  }

  .section-two{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
  }

  .sidebar{
    transform: translateX(200);
  }

  .sidebar.active{
    display: block;
    }

    .class-one{
    align-items: left;
    text-align: left;
    margin: 2.5rem 0rem;
    width: 100%;
    padding: 0px 0px 0px 20px;
    }

    .class-one h2, .class-two h2, .class-three h2{
        font-size: 22px;
        
    }

    .class-one p, .class-two p, .class-three p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .class-two{
        align-items: right;
        text-align: right;
        margin: 2.5rem 0rem;
        padding: 0px 50px 0px 0px;
        width: 100%;
    }

    .class-two div, .class-three div{
        line-height: 30px;
    }

    .class-two div {
        margin-top: 1px;
    }

    .class-three{
    align-items: left;
    text-align: left;
    margin: 2.5rem 0rem;
    width: 100%;
    padding: 0px 10px 0px 20px;
    }
}